u {
  cursor: pointer;
}
/* hide arrows
 Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield !important;
}

.form-label span.star {
  color: red;
}
.red {
  color: red;
}
.blue {
  color: blue;
}
.green {
  color: green;
}
.orange {
  color: orange;
}
.bold {
  font-weight: 700;
}
.label_data,
.label {
  font-size: 14px;
}
.w_30 {
  width: 30%;
}
.w_400 {
  width: 400px;
}
.w_50 {
  width: 50px;
}
.inputField {
  width: 100%;
}
.min-w-170px {
  width: 170px;
}
.min-w-90px {
  width: 90px;
}
/* .navbar {
  margin-bottom: 90px;
}

.container {
  margin-top: 120px;
} */

.card_pos {
  margin-top: 100px;
  width: 99%;
}
.report-box {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  justify-content: center;
  margin-left: 40px;
}
.report-box .form-control {
  padding: 10px;
}

/* MainHeader.css */
.custom-navbar {
  background-color: #d2b48c; /* Brownish-white background color */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow */
  border: 1px solid #c4bdbd; /* Border color */
}
.custom-navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.custom-text {
  color: #000; /* Black text color */
}
/* Header.css or your global stylesheet */
.container.mt-4 {
  margin-top: -80px; /* Adjust the value as needed */
}
.navbar-light .navbar-text {
  color: rgba(0, 0, 0, 0.55);
  font-size: 32px;
  font-weight: 600;
  color: #2a2d93;
}

/* navbar */
.navbar-light .navbar-nav .nav-link {
  font-size: 16px;
  position: relative;
  margin-left: 15px;
  padding: 0;
}
.navbar-light .navbar-nav .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.55);
  transition: all 0.5s ease-in-out;
}
.nav-item {
  display: flex;
  align-items: center;
}
.navbar-light .navbar-nav .nav-link:hover:after {
  width: 100%;
}
.navbar-brand {
  display: flex;
  align-items: center;
  gap: 10px;
}
.react-datepicker-wrapper {
  width: 100%;
}
.menu-item .menu-title {
  color: #2a2d93;
}
.btn_simple {
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0;
}
.mandatorystart {
  color: red;
  font-size: large;
}
.searchfun {
  display: flex;
  justify-content: space-between;
  background-color: #2a2d93;
  color: #fff;
}
.searchfun label {
  color: #fff;
}
.search_top {
  text-align: left;
  font-size: 16px;
  color: #5b5656;
}
.card_headline {
  padding: 10px;
}
.input_search {
  background-color: #fff;
  border-radius: 4px;
}

.table_styled tr button.btn_simple {
  text-align: left;
}

/* Biru  */

.table_logo {
  height: 70px;
  width: 80px;
}
.table_container_1,
.table_container_1 thead tr th,
.table_container_1 tbody tr td,
.table_container_1 tfoot tr td {
  border: 1px solid black;
}
.top_info_table table tbody tr td {
  border: none !important;
}

.table_container_1 thead tr th {
  font-size: 12px;
}
.table_container_1 tbody tr td {
  font-size: 11px;
}
.print_btn {
  height: 33px;
  width: 90px;
  border: none;
  outline: none;
  font-size: 18px;
  font-weight: 500;
  background-color: #1b75d0;
  color: white;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.08s linear;
}
.print_btn:hover {
  background-color: #1b76d0b3;
}
@media print {
  .print_btn {
    display: none !important;
  }
}
